* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    --shadow: hsla(0, 0%, 0%, 0.5);

    --grayscale-100: rgb(225, 225, 225);
    --grayscale-200: rgb(188, 188, 188);
    --grayscale-300: rgb(160, 160, 160);
    --grayscale-400: rgb(131, 131, 131);
    --grayscale-500: rgb(61, 61, 61);
    --grayscale-600: rgb(42, 42, 42);
    --grayscale-700: rgb(28, 28, 28);
  
    --red-100: rgb(255, 216, 209);
    --red-200: rgb(255, 164, 148);
    --red-300: rgb(255, 118, 94);
    --red-400: rgb(255, 40, 2);
    --red-500: rgb(122, 18, 0);
    --red-600: rgb(87, 13, 0);
    --red-700: rgb(60, 9, 0);
  
    --dark-100: rgb(224, 225, 226);
    --dark-200: rgb(185, 188, 190);
    --dark-300: rgb(156, 160, 162);
    --dark-400: rgb(127, 132, 135);
    --dark-500: rgb(58, 61, 62);
    --dark-600: rgb(40, 42, 43);
    --dark-700: rgb(27, 28, 29);
}

body {
    font-size: 1.6rem;
    background: var(--dark-700);
}

#wrapper {
    width: 100%;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

ul {
    list-style: none;
}

nav a,
#mobile-links a {
    width: fit-content;
    text-decoration: none;
    color: transparent;
    text-shadow: 0 0 0 var(--shadow);
    font-weight: 500;
    color: var(--dark-300)
}

a:hover,
a:focus,
a:active {
    color: var(--dark-500);
}

header {
    width: calc(100% - 2rem);
    max-width: 120rem;
    padding-top: 1rem;
    background-color: var(--dark-700);
    margin: 0 auto;
    grid-area: header;
}

nav {
    width: 100%;
    border: .2rem solid var(--dark-400);
    display: grid;
    grid-template-areas:
        "logo menu"
    ;
    border-radius: 2rem;
}

nav > img,
nav > a > img {
    margin: 1rem;
    max-height: 10rem;
    grid-area: logo;
}

.logo {
    margin-left: 2rem;
    font-size: 5rem;
    font-weight: 500;
    color: var(--red-400);
}

.logo:hover {
    color: var(--red-500);
}

#menu-icon {
    all: unset;
    grid-area: menu;
    margin: auto;
    width: 6rem;
    height: 4.5rem;
    position: relative;
}

#menu-icon span {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.9rem;
    background: transparent;
    box-shadow: inset 0 0 10rem var(--dark-300);
    border-radius: 0.9rem;
    opacity: 1;
    transform: rotate(0deg);
}

#menu-icon.closed span {
    transition: transform .25s ease-in-out, top .25s ease-in-out .25s, opacity .25s ease-in-out .25s;
}

#menu-icon.open span {
    background: var(--red-400);
    box-shadow: none;
    transition: top .25s ease-in-out, opacity .25s ease-in-out, transform .25s ease-in-out .25s;
}

#menu-icon span:nth-child(1) {
    top: 0rem;
}

#menu-icon span:nth-child(2) {
    top: 1.8rem;
}

#menu-icon span:nth-child(3) {
    top: 3.6rem;
}

#menu-icon.open span:nth-child(1) {
    top: 1.8rem;
    transform: rotate(-45deg);
}

#menu-icon.open span:nth-child(2) {
    opacity: 0;
}

#menu-icon.open span:nth-child(3) {
    top: 1.8rem;
    transform: rotate(45deg);
}

#menu-icon.closed span:nth-child(1) {
    top: 0rem;
    transform: rotate(0deg);
}

#menu-icon.closed span:nth-child(2) {
    opacity: 1;
}

#menu-icon.closed span:nth-child(3) {
    top: 3.6rem;
    transform: rotate(0deg);
}

#mobile-menu {
    transition: height .25s ease-in-out .25s;
    position: fixed;
    display: block;
    width: 100%;
    height: 0;
    top: 8rem;
    background-color: var(--dark-700);
    text-align: center;
    overflow: hidden;
    z-index: 10;
}

#mobile-menu.open {
    transition: height .25s ease-in-out;
    height: 100%;
    z-index: 10;
}

#mobile-links {
    opacity: 0;
}

#mobile-links.open {
    opacity: 1;
    transition: opacity .25s ease-in-out .25s;
}

#mobile-links {
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

#mobile-links > li {
    margin-top: 8rem;
    font-size: 4.8rem;
}

#web-menu {
    display: none;
}

footer {
    grid-area: footer;
    height: 8rem;
    background: var(--dark-700);
}

#social-links {
    display: flex;
    width: 15rem;
    justify-content: space-around;
    align-self: center;
    margin: 0 auto;
    transform: translate(0, 50%);
    font-size: 3rem;
}

#social-links i {
    color: var(--dark-100)
}

#social-links i:hover,
#social-links i:active {
    color: var(--dark-300)
}

main {
    margin: 0 auto;
    padding: 0 1rem;
    grid-area: main;
    min-height: 86vh;;
}

#slogan {
    width: 100%;
    max-width: 80rem;
    margin: 50% auto 0;
    color: var(--dark-100);
}

#slogan h1 {
    text-align: right;
    font-size: 3.6rem;
    font-weight: 500;
    letter-spacing: .2rem;
}

#page-links {
    margin-top: 2.5rem;
    max-width: 80rem;
}

#page-links li {
    width: fit-content;
    margin: 4rem auto;
}

#page-links li a {
    font-size: 2.8rem;
    color: var(--dark-300);
    padding: 1rem;
    border: solid .2rem var(--dark-300);
    border-radius: 4rem;
    cursor: pointer;
}

#page-links li a:hover {
    color: var(--dark-500);
}

#vehicleContainer,
#locationContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 120rem;
    min-height: 60rem;
    margin: 0 auto;
    padding: 2.5rem;
    gap: 2.5rem;
    box-shadow: inset 0 0 .6rem var(--shadow);
    border-radius: .4rem;
    background: var(--dark-600);
}

.tile {
    position: relative;
    display: flex;
    justify-self: center;
    width: 100%;
    max-width: 100%;
    box-shadow: inset 0 0 .6rem var(--shadow);
    border-radius: .4rem;
    background: var(--dark-700);
    overflow: hidden;
}

.tile:not(.dlc-collection):not(.about-tile) {
    width: 100%;
    max-width: 35rem;
}

.dlc-collection {
    background: var(--dark-600);
}

.tile-img,
.modal-img {
    max-width: 100%;
}

.tile-name {
    display: inline-block;
    font-weight: 500;
    color: var(--dark-100);
}

h1.tile-name {
    margin: 0 1rem;
    font-size: 1.8rem;
}

h2.tile-name {
    font-size: 1.2rem;
}

#dlc-container,
#about-container {
    width: 90dvw;
    /* max-width: 120rem; */
    margin: 0 auto;
    padding-bottom: 2.5rem;
}

/* #dlc-list {
    width: 100%;
    max-width: 120rem;
} */

.dlc-collection {
    position: relative;
    display: grid;
    grid-template-areas: 
        "title"
        "content"
    ;
    width: 100%;
    max-width: 120rem;
    text-align: center;
    margin: 2.5rem auto 0;
    padding: 1rem;
}

.dlc-collection > h2 {
    grid-area: title;
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    color: var(--dark-300);
}

.dlc-collection:not(h2) {
    grid-area: content;
}

.prev-btn,
.next-btn {
    display: none;
    position: absolute;
    font-size: 4rem;
    color: var(--dark-300);
}

.next-btn {
    top: 50%;
    right: 2%;
}

.prev-btn {
    top: 50%;
    left: 2%;
}

.dlc-tile-items {
    position: relative;
    overflow: hidden;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    max-width: 120rem;
    /* height: 100%; */
    height: 20rem;
}

.dlc-slider-tile {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 100%;
    /* max-width: 35rem; */
    max-height: 100%;
    /* max-height: 19.7rem; */
    transition: left 1s ease, transform 1s ease, z-index 1s ease;
    overflow: hidden;
    background: var(--color-light);
}

.dlc-text-list {
    color: var(--dark-100);
    position: absolute;
    align-self: center;
    top: 50%;
    transform: translate(0, -50%);
}

.collection-name {
    margin-bottom: 1rem;
}

.collection-includes,
.dlc-location,
.dlc-manufacturer {
    margin-bottom: .5rem;
}

.collection-includes {
    text-align: left;
}

.background-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(27, 28, 29);
    opacity: 0.8;
}

.frosted-glass:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 200rem var(--shadow);
    filter: blur(1rem);
    transition: all 1s ease-in-out;
}

.no-before:before {
    box-shadow: none;
    filter: none;
    transition: all 1s ease-in-out;
}

#dlc-items-deluxe-content-packs {
    display: flex;
}

.modal {
    width: 90%;
    max-height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5rem 0;
    text-align: center;
    background: var(--dark-600);
    border: solid .2rem var(--dark-200);
    border-radius: 2rem;
    z-index: 10;
    overflow-y: scroll;
}

.modal-img {
    display: block;
    margin: 0 auto;
    padding: 0 2.5rem;
}

.vehicle-modal-name,
.location-modal-name {
    display: inline-block;
    margin-top: 1rem;
    font-weight: 500;
    color: var(--dark-100);
}

h2.vehicle-modal-name,
h2.location-modal-name {
    font-size: 2.4rem;
}

h3.vehicle-modal-name,
h3.location-modal-name {
    font-size: 1.6rem;
}

.specs-list {
    margin: 2.5rem 2.5rem 0;
}

.visual-specs {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-height: fit-content;
    margin-bottom: 5.5rem;
    gap: 1rem;
}

.spec-item {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.spec-category {
    text-align: left;
}

.spec-value {
    margin-left: 1rem;
    text-align: right;
}

.box {
    position: relative;
    width: 100%;
    max-width: 15rem;
    height: 100%;
    max-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.box .percentage {
    position: relative;
    width: 100%;
    height: 100%;
}

.box .percentage svg {
    position: relative;
    width: 100%;
    height: 100%;
}

.box .percentage svg circle {
    --stroke-dasharray: 0;
    position: relative;
    width: 100%;
    height: 100%;
    fill: none;
    stroke-dasharray: var(--stroke-dasharray);
    stroke-width: 8%;
    stroke-linecap: round;
}

.box .percentage svg circle:nth-child(1) {
    --stroke-dashoffset: 0;
    stroke-dashoffset: var(--stroke-dashoffset);
    stroke: var(--dark-700);
}

.power-box .percentage svg circle:nth-child(2) {
    --stroke-colour: none;
}

.engine-box .percentage svg circle:nth-child(2) {
    --stroke-colour: none;
}

.weight-box .percentage svg circle:nth-child(2) {
    --stroke-colour: none;
}

.box .percentage .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-100);
}

.power-text-value,
.engine-text-value,
.weight-text-value {
    font-size: 4rem;
}

.box .percentage .number h2 .unit {
    font-size: 2rem;
    color: var(--dark-200);
}

.box .text {
    font-size: 2.4rem;
    padding: .5rem 0 0;
    color: var(--dark-100);
    font-weight: 500;
    letter-spacing: .1rem;
    white-space: nowrap;
}

.spec-item {
    color: var(--dark-100);
    font-size: 1.8rem;
    font-weight: 500;
    text-align: left;
}

.spec-category {
    color: var(--dark-200);
}

.location-modal {
    display: grid;
    grid-template-areas:
        "location"
        "stages"
    ;
}

.location-surface {
    margin: 1rem auto;
    color: var(--dark-200)
}

.tab-select {
    display: flex;
}

.direction-tab {
    margin: 1rem 1rem 1rem 0;
}

.tab-select,
.stages-forward-list,
.stages-reverse-list {
    max-width: 75%;
    margin: 0 auto;
}

.stages {
    grid-area: stages;
    display: flex;
    text-align: left;
    color: var(--dark-200);
}

.stage {
    display: flex;
    justify-content: space-between;
}

.stages-direction {
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: .5rem;
    color: var(--dark-100)
}

.stage-name,
.stage-distance {
    display: inline-block;
    margin: .5rem 0;
}

#about-container {
    margin-top: 3rem;
    display: grid;
    grid-template-areas:
        "game"
        "vehicles"
        "locations"
        "dlc"
    ;
    max-width: 120rem;
    color: var(--dark-200);
    border-radius: .2rem;
}

#about-game {
    grid-area: game;
}

#about-vehicles {
    grid-area: vehicles;
}

#about-locations {
    grid-area: locations;
}

#about-dlc {
    grid-area: dlc;
}

.about-tile {
    width: 100%;
    margin-top: 2.5rem;
    padding: 2.5rem;
    background: var(--dark-600);
}

.about-tile p {
    margin: .5rem;
    text-align: center;
}

.about-title,
.about-subheading {
    margin-bottom: 1rem;
    font-weight: 500;
    letter-spacing: .1rem;
    color: var(--dark-100);
}

.about-title {
    font-size: 3.2rem;
}

.about-subheading {
    font-size: 2.4rem;
}

.reverse-tab,
.forward-tab {
    cursor: pointer;
}

/********** BUTTON DESIGN **********/
/*! PAGE BUTTONS !*/
#page-btns {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 120rem;
    margin: 1rem auto;
}

#btn-search,
#btn-filter {
    position: relative;
    cursor: pointer;
    border: .1rem solid var(--dark-700);
}

#btn-search {
    transition: width .25s ease-in-out;
    width: 4rem;
    max-width: 40rem;
    border-radius: 3rem;
    overflow: hidden;
}

#btn-search.search-open {
    transition: width .25s ease-in-out;
    border: .1rem solid var(--dark-600);
    border-radius: 3rem;
    width: 100%;
}

#search-icon.search-open {
    color: var(--dark-400);
}

#search-icon.search-open:hover {
    color: var(--dark-700);
}

#btn-filter.filter-open {
    display: flex;
    position: absolute;
    right: 1rem;
    border: none;
}

#filter-open-icons {
    display: none;
    border: .1rem solid var(--dark-100);
    border-radius: 3rem;
}

#search-icon {
    display: block;
}

#filter-icon,
#filter-confirm,
#filter-reset,
#filter-cancel {
    display: none;
}

#filter-icon.show,
#filter-confirm.show,
#filter-reset.show,
#filter-cancel.show {
    display: block;
}

#filter-open-icons.show {
    display: flex;
}

#search-icon {
    position: relative;
    float: right;
    background: var(--dark-600);
}

#search-icon,
#filter-icon,
#filter-confirm,
#filter-reset,
#filter-cancel {
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    border: none;
    background: none;
    z-index: 9;
}

#search-icon,
#filter-icon {
    color: var(--dark-300);
}

#search-icon:hover,
#filter-icon:hover,
#filter-confirm:hover,
#filter-reset:hover,
#filter-cancel:hover {
    color: var(--dark-400);
}

#filter-confirm {
    color: var(--color-green);
}

#filter-reset {
    color: var(--shadow);
}

#filter-cancel {
    color: var(--color-red);
}

/*! SEARCH BOX !*/
#btn-search input {
    transition: background-color .25s ease-out;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    width: 100%;
    height: 4rem;
    z-index: 1;
    padding: 1rem 3.5rem 1rem 1rem;
    background: var(--dark-700);
}

#btn-search.search-open input {
    background: var(--dark-100);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type=search]::-ms-clear {
    display: none; width : 0; height: 0;
}

input[type=search]::-ms-reveal {
    display: none; width : 0; height: 0;
}

/*! FILTER !*/
#filter-list {
    display: none;
}

#filter-list > li {
    display: inline-block;
    margin: auto 0;
}

/*! FILTER BUTTONS !*/
.filter {
    all: unset;
    color: var(--dark-300);
    margin: 1rem 1rem 0;
    padding-bottom: .9rem;
}

.filter-selected {
    color: var(--dark-400);
}

.dropdown-content {
    position: absolute;
    margin-left: 1rem;
    padding: .5rem;
    background: var(--dark-500);
    color: var(--dark-300);
    box-shadow: inset 0 0 .2rem var(--shadow);
    cursor: default;
    z-index: 10;
}

.dropdown-content:not(#power-dropdown-content):not(#weight-dropdown-content):not(#engine-dropdown-content) > li {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    list-style: none;
    cursor: pointer;
}

.dropdown-content:not(#power-dropdown-content):not(#weight-dropdown-content):not(#engine-dropdown-content) > li:hover {
    box-shadow: inset 0 0 .2rem var(--shadow);
}

.filter-colour-icon {
    display: block;
    float: right;
    width: .5rem;
    height: .5rem;
    box-shadow: 0 0 .2rem var(--shadow);
}

/*! PRIMARY BUTTON !*/
.btn-primary {
    all: unset;
    display: block;
    padding: .5rem;  
    color: transparent;
    background: var(--dark-400);
    border-radius: 2.5rem;
    box-shadow: inset 0 0 .6rem var(--shadow);
    text-shadow: 0 0 0 var(--shadow);
    cursor: pointer;
    font-size: 1.6rem;
    text-align: center;
}

.btn-primary:hover,
.btn-primary:active {
    background: transparent;
    box-shadow: inset 0 0 0 .2rem var(--dark-400);
    color: var(--dark-400);
}

/*! CLOSE BUTTON !*/
.btn-red-xmark {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
    color: var(--red-400);
    background: none;
    border: none;
    cursor: pointer;
}

.btn-red-xmark i {
    position: absolute;
    top: 0;
    right: 0;
    width: inherit;
    height: inherit;
}

.btn-red-xmark:hover {
    color: var(--red-600);
}

/*! DETAILS BUTTON !*/
.btn-details {
    width: 75%;
    margin: 1rem auto;
}

/*! FILTER PRICE !*/
#power-dropdown-content,
#weight-dropdown-content,
#engine-dropdown-content {
    padding: 1rem;
}

.slider {
    margin-top: 1rem;
    max-width: 20rem;
    height: .5rem;
    position: relative;
    background: var(--dark-700);
    border-radius: .2rem;
}

.range-selected {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: .5rem;
    background: var(--dark-200);
    box-shadow: inset 0 0 .2rem var(--shadow);
}

.slider-range {
    position: relative;
    max-width: 20rem;
}

.slider-range input {
    position: absolute;
    width: 100%;
    height: .5rem;
    top: -.5rem;
    background: none;
    pointer-events: none;
    appearance: none;
}

.slider-range input::-webkit-slider-thumb {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: var(--dark-200);
    box-shadow: 0 0 .4rem var(--shadow);
    pointer-events: auto;
    -webkit-appearance: none;
}

.slider-range input::-moz-range-thumb {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: .3rem solid var(--dark-200);
    background: var(--dark-700);
    pointer-events: auto;
    -moz-appearance: none;
}

.slider-input {
    display: flex;
    margin-top: 2rem;
    max-width: 20rem;
}

.slider-input input {
    max-width: 4rem;
    text-align: center;
}

.slider-input label {
    margin-right: .5rem;
}

.slider-input input::-webkit-outer-spin-button,
.slider-input input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.hide {
    display: none;
}

@media screen and (min-width: 431px) {
    #vehicleContainer,
    #locationContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 601px) {
    #menu-icon {
        display: none;
    }
    
    #mobile-menu {
        display: none;
    }

    #web-menu {
        display: flex;
        grid-area: menu;
        justify-content: space-evenly;
        justify-self: end;
        margin: auto 0;
        font-size: 3rem;
    }

    #web-menu > li {
        padding-right: 3rem;
    }
    
    .details-btn {
        font-size: 2.5rem;
    }

    #btn-filter {
        display: flex;
        max-width: 100%;
    }

    #btn-filter.filter-open {
        position: relative;
        right: unset;
        width: unset;
        max-width: calc(100% - 4rem);
        justify-content: unset;
        border: .1rem solid var(--dark-300);
        border-radius: 3rem;
    }

    #filter-open-icons {
        margin: unset;
        border: none;
    }

    #filter-list.open {
        display: flex;
    }

    #mobile-filter-menu {
        display: none;
    }

    .prev-btn,
    .next-btn {
        display: block;
    }
}

@media screen and (min-width: 821px) {
    #vehicleContainer,
    #locationContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    #about-container {
        grid-template-areas:
            "game game"
            "vehicles vehicles"
            "locations dlc"
        ;
    }

    #about-locations {
        justify-self: right;
        margin-right: 1.25rem;
    }
    
    #about-dlc {
        justify-self: left;
        margin-left: 1.25rem;
    }

    .tile:not(.dlc-collection) {
        width: 90%;
    }

    .modal {
        max-width: fit-content;
        overflow: unset;
    }
}

@media screen and (min-width: 1201px) {
    #vehicleContainer,
    #locationContainer {
        grid-template-columns: repeat(4, 1fr);
    }

    #about-container {
        max-width: 120rem;
    }

    .tile:not(.dlc-collection) {
        width: 100%;
    }
}